.header{
  width: 100%;
  padding: 10px;
  background-color: var(--color-background-light);
  display: flex;
  justify-content: flex-end;


  input{
    background-color: var(--color-background-very-light);
    color: var(--color-text);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    width: 20%;
    min-width: 200px;
    outline: none;
    font-size: 12px;

    &::placeholder{
      color: var(--color-text-light);
    }
  }
}
