.paths {
  width: 100%;
  background-color: var(--color-background-light);
  border-top: 1px solid black;
  display: inline-block;
  overflow-x: scroll;
  white-space: nowrap;

  .path {
    transition: background-color .1s;
    background-color: var(--color-background-very-light);
    clip-path: polygon(0 0, calc(100% - 5px) 0, 100% 50%, calc(100% - 5px) 100%, 0 100%, 5px 50%);
    padding: 2px 15px;
    font-size: 12px;
    height: 20px;
    font-family: sans-serif;
    letter-spacing: 1.1px;
    font-weight: 300;
    border: none;
    color: var(--color-text);
    cursor: pointer;

    &:first-child {
      clip-path: polygon(0 0, calc(100% - 5px) 0, 100% 50%, calc(100% - 5px) 100%, 0 100%);
      padding-left: 12.5px;
    }

    &:hover {
      background-color: var(--color-background-contrast-light) ;
    }
  }

}
