<div class="elementsGrid" [class.edit]="this.selectionService.isEditing">
  <div class="grid" cdkDropList>
    <app-element
      *ngFor="let element of elements"
      [element]="element"
      [editionMod]="selectionService.selectedElements.indexOf(element) > -1"
      (onLongPressing)="longPressing = true"
      (onLongPress)="selectionService.selectAndUnselectElement(element)"
      (onLongPressEnd)="elementLongPressEnd()"
      (onSimpleClick)="onSimpleClick(element)"
      (onDoubleClick)="openElement(element)"
      long-press
      cdkDrag
    ></app-element>
  </div>

  <div class="editBar" [class.show]="selectionService.isEditing">
    <app-edit-bar></app-edit-bar>
  </div>

</div>

