.editBar {
  color: white;
  background-color:  var(--color-background-light);
  overflow: hidden;
  border-radius: 9999px;
  display: flex;

  button {
    border: none;
    font-size: 12px;
    padding: 10px 15px;
    color: var(--color-text);
    background-color: var(--color-background-very-light);
    margin: 0 1px;
    outline: none;
    cursor: pointer;

    &:last-child{
      border-right: none;
    }

    &:hover{
      background-color: var(--color-background-light);
    }

    &:active{
      background-color: var(--color-background);
    }
  }

  input{
    background-color: var(--color-background-very-light);
    outline: none;
    min-width: 150px;
    border: none;
    color: var(--color-text);
    padding: 0 15px;
  }
}
