:root {
  --color-background: #fff;
  --color-background-light: #e5e6e5;
  --color-background-very-light: #f4f4f3;
  --color-background-contrast-light: #a4a3a1;
  --color-background-select: 233,233,233;

  --color-file: #fff;

  --color-text: #000;
  --color-text-light: #959492;
}

@media (prefers-color-scheme: dark) {
  body {
    --color-background: #2b2724;
    --color-background-light: #383432;
    --color-background-very-light: #4b4845;
    --color-background-contrast-light: #a4a3a1;
    --color-background-select: 59,60,62;

    --color-file: #fff;

    --color-text: #fff;
    --color-text-light: #959492;
  }
}


body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
