:root {
  --color-background: #fff;
  --color-text: #000;
}



@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --color-background: #1e1f22;
    --color-text: #fff;

  }
}


body {
  background-color: var(--color-background);
  color: var(--color-text);
}
